<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti a consequuntur, assumenda maxime exercitationem veniam? Corrupti culpa, temporibus nemo, perferendis repudiandae aliquam molestias exercitationem repellendus, fuga distinctio minima recusandae aliquid?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti a consequuntur, assumenda maxime exercitationem veniam? Corrupti culpa, temporibus nemo, perferendis repudiandae aliquam molestias exercitationem repellendus, fuga distinctio minima recusandae aliquid?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti a consequuntur, assumenda maxime exercitationem veniam? Corrupti culpa, temporibus nemo, perferendis repudiandae aliquam molestias exercitationem repellendus, fuga distinctio minima recusandae aliquid?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>